.et-text-title {
    font-size: 3.5rem;
    line-height: 4.25rem;
    margin-top: 20.879rem;
    @apply font-mont font-bold text-center text-white;
}

.et-slide-container {
    width: 82.063rem;
    margin-top: 3.688rem;
    margin-left: auto;
    margin-right: auto;
}

.et-content-body {
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 3rem;
    margin-top: 0.25rem;
    @apply font-mont text-white;
}

.et-contentText-container {
    margin-left: 6.313rem;
    margin-top: 7.688rem;
}