.ft-container {
    margin-top: 16.504rem;
    padding-bottom: 4.938rem;
    font-size: 0.938rem;
    font-weight: 300;
    line-height: 1.161rem;
    color: rgba(255, 255, 255, 1);
    @apply text-center font-mont;
}

.ft-text-body { 
    margin-top: 1.313rem;
}